.sidebar {
    height: 100vh;
    position: fixed;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
    background-color: black;
}

.sidebarlogo {
    margin-right: auto;
    object-fit: contain;
    height: 70px;
    padding: 10px;
}

.userimg {
    margin-right: auto;
    height: 50px;
    padding: 17px;
    border-radius: 50px;
    display: flex;
    position: absolute;
}

.link {
    text-decoration: none;
}