.sidebar {
    position: fixed;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 13%;
    background-color: black;
    height: 100%;
}

.sidebarlogo {
    margin-right: auto;
    object-fit: contain;
    height: 70px;
    padding: 10px;
}

.link {
    text-decoration: none;
}

.userImg {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    padding: 5px;
}

.userName {
    margin-left: 5px;
    align-items: center;
}

.userInfo {
    display: flex;
    position: relative;
    border-radius: 50px;
    background-color: rgb(19, 19, 19);
}

.userInfo:hover {
    background-color: rgb(41, 41, 41);
}

.aaa {
    height: auto;
}